.mid{
    height: 100px;
    width: 90%;
    margin: 0 auto;;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mid img{
    height: 70%;
    margin-bottom: 5px;
}
.mid div div{
    height: 100%;
}
.mid h2{
    margin-top: 0;
}